@font-face {
    font-family: 'mitr';
    src: url('Mitr-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: mitr;
    background-color: white;
}
.bg-gray{
    background-color: #ebebeb;
}