:root{
    --pmcolor: rgb(117, 102, 252);
    --sdcolor: rgb(82, 65, 236);
    /* --pmcolor: #ff7aa4;
    --sdcolor: #FF5E92; */
    /* --pmcolor: #ff9940;
    --sdcolor: #ff851b; */
}
@font-face {
    font-family: 'mitr';
    src: url('Mitr-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: mitr;
    background-color: white;
}
.bg-gray{
    background-color: #ebebeb;
}
.topic{
    scroll-margin-top: 55px;
}
.card-text{
    font-size: 18px;
}
.htopic{
    color: var(--pmcolor);
}
.c-pm{
    color: var(--pmcolor);
}
.c-sd{
    color: var(--sdcolor);
}
.b-pm{
    background-color: var(--pmcolor);
}
.b-sd{
    background-color: var(--sdcolor);
}
b{
    color: var(--pmcolor);
}
.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }